/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Color Palette
--tomato: #F56551;
--glaucous: #7180ac;
--delft-blue: #223759;
--light-blue: #a8d0db;
--ash-gray: #C3D5CD;
https://coolors.co/f56551-7180ac-223759-a8d0db-c3d5cd
*/

body {
    background-color: #C3D5CD;

    font-family: 'Inter', sans-serif; /* Use Inter font if available, sans-serif if not */
    color: #223759;
    font-weight: 400;
    font-size: 16px;
    /* sets font size in body to 16px */
    line-height: 1.2;
    /* sets line height to 1.2x the size of the font */
}

h1 {
    font-weight: 600;
    font-size: 30px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
}

a {
    color: #223759;
}

a:visited {
    /* visited link */
    color: #7180ac;
}

a:hover, a:focus {
    text-decoration: none;
    /* no underline when hovering over a link */
    cursor: pointer;
}

a:active {
    /* selected link */
    color: #F56551;
}

button {
    border: none;
    /* overwrites browser default and resets the border */
    display: inline-block;
    font-family: inherit;
    /* inherits the font family from the outer container, like the body */
    background-color: #223759;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    /* adds spacing around the text within the button */
    margin: 20px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(195, 213, 205, 0.3);
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.button {
    border: none;
    /* overwrites browser default and resets the border */
    display: inline-block;
    font-family: inherit;
    /* inherits the font family from the outer container, like the body */
    background-color: #223759;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    /* adds spacing around the text within the button */
    margin: 20px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(195, 213, 205, 0.3);
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

button:hover, button:focus,
.button:hover, .button:focus {
    cursor: pointer;
    /* lets mouse appear as a hand when hovering over the button */
    opacity: 0.7;
    /* reduces opacity of the button when hovered over or focused on. Could change the color instead if there's a background image. */
}

.navigation-list__item {
    border: 2px solid transparent;
    padding: 3px;
}

.navigation-list__item--active {
    text-decoration: none;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item:hover {
    -webkit-animation: navigation-animation 0.8s linear forwards;
            animation: navigation-animation 0.8s linear forwards;
}

/* navigation border */
@-webkit-keyframes navigation-animation {
    from {
        border: 2px solid transparent;
        padding: 3px;
    }
    to {
        border: solid 2px;
        border-color: #7180ac;
        padding: 3px;
    }
}
@keyframes navigation-animation {
    from {
        border: 2px solid transparent;
        padding: 3px;
    }
    to {
        border: solid 2px;
        border-color: #7180ac;
        padding: 3px;
    }
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.profile__portrait {
    float: left;
    margin-right: 40px;
    width: 250px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.about-me {
    max-width: 700px;
    margin: 0 auto;
}

.about-me__portrait {
    float: left;
    margin-right: 40px;
    width: 250px;
    border-radius: 50%;
}

table, th, td {
    text-align: center;
    padding: 15px;
  }
  
  tr:nth-child(even) {background-color: #a8d0db;}
  
  th {
    background-color: #7180ac;
    color: white;
  }

.balloon {
    display: block;
    margin-left: 150px;
  }
  
  .work-experience {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
  }

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.project-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
}

.project-grid__item {
    background-color: #a8d0db;
    padding: 20px;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
}

.project-grid__item:hover {
    background-color: #7180ac;
    color: #FFF8DC;
}

.project-grid__item a:visited {
    color: #223759;
}

.project-grid__item:hover a {
    color: #FFF8DC;
}

.project-grid__item:hover a:active {
    color: #F56551;
}

.project-grid__item-photo {
    width: 350px;
    height: auto;
  }

.work-header {
    text-align: center;
}

@media all and (max-width: 500px) {
    .project-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .project-grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .project-grid {
        grid-gap: 10px;
    }
    .project-grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h1 {
        font-size: 22px;
    }
}

@-webkit-keyframes cloud-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #f76414;
    }
    100% {
        fill: #9400D3;
    }
}

@keyframes cloud-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #f76414;
    }
    100% {
        fill: #9400D3;
    }
}

@-webkit-keyframes cloud-move {
    0% {
        -webkit-transform: scale(25%);
                transform: scale(25%);
    }
    50% {
        -webkit-transform: scale(50%);
                transform: scale(50%);
    }
    100% {
        -webkit-transform: scale(75%);
                transform: scale(75%);
    }
}

@keyframes cloud-move {
    0% {
        -webkit-transform: scale(25%);
                transform: scale(25%);
    }
    50% {
        -webkit-transform: scale(50%);
                transform: scale(50%);
    }
    100% {
        -webkit-transform: scale(75%);
                transform: scale(75%);
    }
}

.cloud-right {
    -webkit-animation: 4s cloud-change infinite alternate linear;
            animation: 4s cloud-change infinite alternate linear;
}

.cloud-left {
    -webkit-animation-name: cloud-change, cloud-move;
            animation-name: cloud-change, cloud-move;
    -webkit-animation-duration: 4s, 8s;
            animation-duration: 4s, 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}